# Auto detect text files and perform LF normalization
* text=auto

# Configuration pour que GitHub-Linguit détecte bien le langage 
libraries/* linguist-vendored
tools/* linguist-vendored
docs/* linguist-documentation
images/* linguist-documentation
medias/* linguist-documentation

*.h linguist-language=C++
*.ino linguist-language=C++
Gonghi.h linguist-generated=true
*.kicad_pcb linguist-detectable=true
*.sch linguist-detectable=true
